extends layout

block content
  .left-box
    section.left-col
      h3 the Voice of China -中國好聲音 第三季
      p.
        Who is following this show? these guys are good.
      .vid
        <iframe width="560" height="315" src="http://www.youtube.com/embed/aVXKEmENBxk" frameborder="0" allowfullscreen></iframe>
      div
        p.
          劉明湘 -- 飄洋過海來看你

    section.left-col
      h3 the Voice of China
      .vid
        <iframe width="560" height="315" src="http://www.youtube.com/embed/JWZN3sKzNVw" frameborder="0" allowfullscreen></iframe>
      div
        p.
          胡慧仪《落叶归根》

  .right-box
    aside.sidebar
      h3 recent post
      ul
       each blog in blogs
         li: a(href="/blog/#{blog._someId}") #{blog.title}