extends layout

block content
  .left-box
    section.left-col
      h3 futball fan?
      <img src="../images/football.jpg"/>
      p.
        Soccer season is starting. i'll try to blog most manUtd matches here. just put up some pictures n highlights.  Gooooal Red-Devils!
    section.left-col
      h3 Top goals of world cup 2014 
      .vid
        <iframe width="560" height="315" src="http://www.youtube.com/embed/n6KAGUqNjJo" frameborder="0" allowfullscreen></iframe>
      div
        p.
          Yes, here are some highlights from world cup 2014.

  .right-box
    aside.sidebar
      h3 mvp
      <img src="../images/iplay23.jpg"/> 
      p.
        good game..

    aside.sidebar
      h3 iPlay
      <img src="../images/team2.jpg"/> 
      p.
        this team is pretty good..


  

  .clearfix